/*
    Contains all the display relative classes
*/

.d-block{
    display: block;
}
.d-i_block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.d-inline{
    display: inline;
}

/* Flex specific classes */
    /* Direction */
.f-dir-row{
    flex-direction: row;
}
.f-dir-row_reverse{
    flex-direction: row-reverse;
}
.f-dir-column{
    flex-direction: column;
}
.f-dir-column_reverse{
    flex-direction: column-reverse;
}
    /* Wrap */
.f-wrap-nowrap{
    flex-wrap: nowrap;
}
.f-wrap-wrap{
    flex-wrap: wrap;
}
.f-wrap-wrap_reverse{
    flex-wrap: wrap-reverse;
}
    /* Justify Content */
.f-jc-start{
    justify-content: flex-start;
}
.f-jc-end{
    justify-content: flex-end;
}
.f-jc-center{
    justify-content: center;
}
.f-jc-between{
    justify-content: space-between;
}
.f-jc-around{
    justify-content: space-around;
}
.f-jc-evenly{
    justify-content: space-evenly;
}
.f-jc-stretch{
    justify-content: stretch;
}
    /* Align Items */
.f-ai-start{
    align-items: flex-start;
}
.f-ai-end{
    align-items: flex-end;
}
.f-ai-center{
    align-items: center;
}
.f-ai-stretch{
    align-items: stretch;
}
.f-ai-baseline{
    align-items: baseline;
}
    /* Align Content */
.f-ac-start{
    align-content: flex-start;
}
.f-ac-end{
    align-content: flex-end;
}
.f-ac-center{
    align-content: center;
}
.f-ac-stretch{
    align-content: stretch;
}
.f-ac-between{
    align-content: space-between;
}
.f-ac-around{
    align-content: space-around;
}
.f-ac-evenly{
    align-content: space-evenly;
}
    /* Gap */
.f-gap-0{
    gap: calc($spacer-base * 0);
}
.f-gap-1{
    gap: calc($spacer-base * .25);
}
.f-gap-2{
    gap: calc($spacer-base * .5);
}
.f-gap-3{
    gap: $spacer-base;
}
.f-gap-4{
    gap:calc($spacer-base * 1.5);
}
.f-gap-5{
    gap:calc($spacer-base * 3);
}
.f-col-gap-0{
    column-gap: calc($spacer-base * 0);
}
.f-col-gap-1{
    column-gap: calc($spacer-base * .25);
}
.f-col-gap-2{
    column-gap: calc($spacer-base * .5);
}
.f-col-gap-3{
    column-gap: $spacer-base;
}
.f-col-gap-4{
    column-gap:calc($spacer-base * 1.5);
}
.f-col-gap-5{
    column-gap:calc($spacer-base * 3);
}
.f-row-gap-0{
    row-gap: calc($spacer-base * 0);
}
.f-row-gap-1{
    row-gap: calc($spacer-base * .25);
}
.f-row-gap-2{
    row-gap: calc($spacer-base * .5);
}
.f-row-gap-3{
    row-gap: $spacer-base;
}
.f-row-gap-4{
    row-gap:calc($spacer-base * 1.5);
}
.f-row-gap-5{
    row-gap:calc($spacer-base * 3);
}


/* Flex Templates for Reverse */

.d-flex-column_reverse{
    @include .d-flex;
    @include .f-dir-column_reverse;
}

.d-flex-row_reverse{
    @include .d-flex;
    @include .f-dir-row_reverse;
}