/*
    Contains normalization classes for Padding and Margins
*/

/* All spacer and their multiplier */
:root{
    --spacer-0: 0;
    --spacer-1: 0.25;
    --spacer-2: 0.5;
    --spacer-3: 0.75;
    --spacer-4: 1;
    --spacer-5: 1.5;
    --spacer-6: 2;
    --spacer-7: 3;
    --spacer-8: 4;
}

/* Looping though all vlues */
@for $i from 0 to 8 {
    /* Padding */
        /* Full */
    .p-$i{
        padding: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Top */
    .pt-$i{
        padding-top: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Bottom */
    .pb-$i{
        padding-bottom: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Top and Bottom */
    .py-$i{
        @include .pt-$i;
        @include .pb-$i;
    }
        /* Left */
    .pl-$i{
        padding-left: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Right */
    .pr-$i{
        padding-right: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Left and Right */
    .px-$i{
        @include .pl-$i;
        @include .pr-$i;
    }

    /* Margin */
        /* Full */
    .m-$i{
        margin: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Top */
    .mt-$i{
        margin-top: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Bottom */
    .mb-$i{
        margin-bottom: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Top and Bottom */
    .my-$i{
        @include .mt-$i;
        @include .mb-$i;
    }
        /* Left */
    .ml-$i{
        margin-left: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Right */
    .mr-$i{
        margin-right: calc(var(--spacer-base) * var(--spacer-$(i)));
    }
        /* Left and Right */
    .mx-$i{
        @include .ml-$i;
        @include .mr-$i;
    }
}